{{ $imageSrc := .Params.src }}

{{ with .Params.align }}
<div class="image-{{ . }}">
{{ else }}
<div class="image-inline">
{{ end }}
  {{ with .Params.link }}
  <a href="{{ . }}">
  {{ else }}
  <a href="{{ $imageSrc }}">
  {{ end }}
    {{ if .Params.lie }}
    <img src="../images/lie.png" class="lie-{{ .Params.lie }}"
         style="
           {{ with .Params.liePosLeft }}
           left: {{ . }}px;
           {{ end }}
           {{ with .Params.liePosRight }}
           right: {{ . }}px;
           {{ end }}
           {{ with .Params.liePosTop }}
           top: {{ . }}px;
           {{ end }}
           {{ with .Params.liePosBottom }}
           bottom: {{ . }}px;
           {{ end }}
         "/>
    {{ end }}

    <img src="{{ $imageSrc }}"
         class="image-in-div"
         {{ if .Params.width }}
         width="{{ .Params.width }}"
         {{ end }}
         {{ if .Params.height }}
         height="{{ .Params.height }}"
         {{ end }}
         />
  </a>
</div>
